{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Reset password {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 40px; margin-bottom: 50px; "">
        {% if validlink %}
            <p>Please enter your new password: </p>
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Change Password" />
            </form>
        {% else %}
            <p>The link has already been used. Plase try again...</p>
        {% endif %}
    </div>
{% endblock %}