{% extends 'accounts/base.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="aboutPage">
    <div class="container">
        <h1 class="about-title">ABOUT US</h1>
        <hr>
        <div class="about-p">
            <p>Exponential Classes is a premier independent institute of IIT-JEE and NEET Coaching founded on the
                core principles of excellence, quality, productivity, and performance to guide aspirant students through
                the journey of these prestigious national-level examinations and to prepare them to achieve a 100%
                guaranteed success.</p>
                <p>We are one of the institutes located in Patna that provides coaching to students in grade 11th, 12th and
                13th. Our institute brings you the talented combination of two brilliant faculties - Mr. Saurabh Kumar and
                Mr. Mithlesh Kumar Malakar who have transformed the lives of hundreds of students and always aspiring
                to help many more such ambitious students.</p>
                <p>Mr. Saurabh Kumar is an ex-faculty of the legacy IIT-JEE Coaching Institute - Bansal classes of Kota. He
                did his graduation from The LNM Institute of Information Technology, Jaipur. He is known amongst his
                students for his skills of explaining concepts in a way that are handily grasped by students and his tips
                and tricks have been very useful to students in their examinations.</p>
                <p>Mr. Mithlesh Kumar has been a faculty at Allen Institute in the past for a brief time and has gained high
                fame among his students with the alias "MK Sir". He has done his Bachelors in Science from M.U.</p>
                <p>Our mission is to strive the career path of our students towards a guaranteed result. We wish you a
                brighter future and hope that you choose us to see a miracle in your performance. We just want you to
                do persistant hardwork and rest will be sone by our faculty's intelligence and experience.</p>
        </div>
    </div>
</div>
{% endblock %}