{% extends 'accounts/base.html' %}

{% block title %}Home Page {% endblock %}

{% block content %}
    <div class="container" style="margin-top: 70px; margin-bottom:40px;">
        <div class="row"  style="margin-top: 20px;">
            <div class="col-md-4 pt-2 pb-4">
                <img style="max-height: 500px; max-width:100%;" src="{{course.image.url}}" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-md-8">
    
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <h1>{{course.title}}</h1>
                            <br>
                            <p><b>Eligibility: </b> {{course.eligibility}}</p>
                            <p><b>Aim: </b> {{course.aims}}</p>
                            <p><b>Description: </b> {{course.description}}</p>
                            <p><b>Class Scheduling: </b> {{course.classScheduling}}</p>
                            <p><b>Course Completion: </b> {{course.courseCompletion}}</p>
                            <p style="margin-top: 15px;"><b>Course Price: ₹ {{course.coursePrice}}</b></p>
                            <p style="margin-top: 10px;"><a href="{% url 'buyProduct' course_id=course.pk %}" class="btn btn-outline-success">Buy Now</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}